<server description="Sample Servlet server">

    <!-- Enable features -->
    <featureManager>
    	<feature>microprofile-6.0</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="8080"/>
    <variable name="default.https.port" defaultValue="8443"/>
    <variable name="app.context.root" defaultValue="/"/>

    <httpEndpoint httpPort="${default.http.port}" 
    httpsPort="${default.https.port}" id="defaultHttpEndpoint"  host="*" />
    <webApplication id="fj-doc-quickstart-demo-wlp-root" name="fj-doc-quickstart-demo-wlp-root"
    	location="../../../../../fj-doc-quickstart-demo-wlp" contextRoot="${app.context.root}" />
    
</server>